@charset "utf-8";


/* header */
.header {
    grid-area: header; 
    background-color: rgb(243, 243, 243);
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* the grid container */
.grid-container {
    display: grid; 
    grid-template-areas: 
    'header header header header header header'
    'left middle middle middle middle right'
    'footer footer footer footer footer footer';
    /* grid- column-gap: 10px; - if you want gap between the columns */
}


.left,
.middle,
.right {
    padding: 10px;    
}

/* Style the left column */
.left{
    grid-area: left;
}

/* Style the middle column */
.middle {
    grid-area: middle;
}

/* Style the right column */
.right {
    grid-area: right;
}

/* Style the footer */
.footer{
    grid-area: footer;
    background-color: beige;
    padding: 10px;
    text-align: center;

}

/* Responsibe layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px){
    .grid-container{
        grid-template-areas: 
        'header header header header header header'
        'left left left left left left'
        'middle middle middle middle middle'
        'right right right right right right'
        'footer footer footer footer footer footer';
    }
}


.card-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 2px 16px;
}

.card1,
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex: 1 0 auto;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.3s;
    width: 40%;
    background-color: cornflowerblue;
}

#flagImage {
    max-width: 200px; 
    max-height: 150px;
}


 
  