@charset "utf-8";

h2.center-top {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{ 

    margin: auto; 
    width: 800px; 
    padding: 40px; 
}

.topleft {
    position: absolute;
    top: 110px;
    font-size: 20px;
    font-weight: bold;
}

.topRight {
    position: relative;
    right: -600px;
    top: -140px;
    font-weight: bold;
    font-size: 20px;
}

.countrylist{

    position: absolute; 
    bottom: 400px; 
    font-weight: bold;
}

.list{

    position: absolute; 
    bottom: 375px;
}