@charset "utf-8";

body{
    display: grid; 
    grid-template-columns: 1fr 3 fr; 
    grid-template-columns: 1 fr 3 fr; 
    grid-template-rows: 100px 1fr; 
    grid-template-areas: 
        "header header"
        "sidebar content";
    height: 100vh;

}

.center-top {
    grid-area: header; 
    text-align: center; 
}

form {
    display: grid; 
    grid-area: content; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(5, auto); 
    grid-gap: 20px; 
    align-items: start; 
}

.countrylist {
    grid-column: 1 / span 2; 
    text-align: center; 
}