@charset "utf-8";

/* Reset default margin and padding */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/* Header */
.header {
    grid-area: header;
    background-color: rgb(243, 243, 243);
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* the grid container */
.grid-container {
    display: grid; 
    grid-template-areas: 
        'header header header header header header'
        'left middle middle middle middle right'
        'footer footer footer footer footer footer';
    grid-template-rows: auto auto auto 1fr;
    min-height: 100vh; /* Ensure the grid container fills the viewport */
    margin: 0;
    padding: 0;
}

/* Columns */
.left,
.middle,
.right {
    padding: 10px;
}

/* Style the left column */
.left {
    grid-area: left;
    background-color: antiquewhite;
}

/* Style the middle column */
.middle {
    grid-area: middle;
    background-color: burlywood;
}

/* Style the right column */
.right {
    grid-area: right;
    background-color: antiquewhite;
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: beige;
    padding: 10px;
    text-align: center;
    min-height: 100px; /* Adjust this value according to your design */
}

/* Card container */
.card-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 2px 16px;
}

.card1,
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex: 1 0 auto;
    margin: 10px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.3s;
    width: 40%;
    text-align: center;
    background-color: rgb(176, 187, 209);
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#flagImage {
    max-width: 200px; 
    max-height: 150px;
}

/* wiki button */
.Wiki-button {
    border-radius: 4px;
    background-color: rgb(209, 67, 57);
    border: none;
    color: #fff;
    text-align: center; 
    font-size: 22px;
    padding: 16px;
    width:220px; 
    transition: all 0.5s; 
    cursor: pointer; 
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0,0,0,.7); 
}

.Wiki-button {
    cursor: pointer;
    display: inline-block; 
    position: relative; 
    transition: 0.5s;
}

.Wiki-button:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

.Wiki-button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.Wiki-button:hover:after {
    opacity: 1;
    right: 10px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-areas: 
            'header'
            'left'
            'middle'
            'right'
            'footer';
        grid-template-columns: 1fr;
    }
    
    .card1,
    .card2 {
        width: 80%;
        text-align: center;
    }

    .Wiki-button {
        width: 50%;
    }

    .card-container {
        flex-direction: column;
    }
}